/* BODY */
    
    *{
    font-family: calibri;
    }

    body {
        background-color: #7bb4f0;
    }

    label {
        font-weight: bold;
        width: 200px;
    }

    div {
        margin: 5px 0;
    }

/* FORM */

    div#container {
        width: 474px;
        background: #25FF00;
        margin: 0 auto;
      }

    input {
        width: 310px;
        background-color: #fffdfd;
        border: none;
    }

    #form table {
        background-color: #dad9d9;
        border-radius: 7px 7px 7px 7px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        width: 474px;
        padding: 5px 5px;
        border-collapse: collapse;
    }

    #form th, #form td {
        padding: 5px 15px;
    }

/* STATISTIC */    

    #statistiche table{
        background-color: #dad9d9;
        border-radius: 7px 7px 7px 7px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        width: 474px;
        padding: 5px 5px;
        border-collapse: collapse;
    }

    #statistiche th, #statistiche td {
        padding: 5px 15px;
        text-align: center;
    }

/* BUTTON */

    button {
        width: 115.7px;
        height: 80px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        border-radius: 7px 7px 7px 7px;
        font-size: 1.5em;
    }

    #buttonbe {
        background-color: #368de9;
        color: #ffffff;
    }

    #buttontp {
        background-color: #27a74d;
        color: #ffffff;
    }

    #buttonsl {
        background-color: #f0594e;
        color: #ffffff;
    }

    div#divbutton {
        margin: 0 auto;
        width: 474px;
        /*background: #f517c5;*/
      } 

/* TABLE */

    #datatable {
        border-collapse: collapse;
        background: #3e2af5;
        font-size: 0.9em;
        width: 474px;
        border-radius: 7px 7px 7px 7px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    #datatable thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
    }

    #datatable th, #datatable td {
        padding: 12px 15px;
        text-align: center;
    }

    #datatable tbody tr {
        border-bottom: 1px solid #dddddd;
        background-color: #ffffff;
    }

    #datatable tbody tr:nth-of-type(even) {
        background-color: #ffffff;
    }

    #datatable tbody td:last-of-type {
	    font-weight: bold;
    }

    #datatable tbody tr.active-row {
        font-weight: bold;
        color: #ffffff;
    }

    #typetp {
      font-weight: bold;
    }

    #tprate {
        font-weight: bold;
        color: #27a74d;
    }
    #slrate {
        font-weight: bold;
        color: #f0594e;
    }
    #account {
        font-weight: bold;
        color: black;
    }
